body {
    text-align: center;
}

h3 {
    padding-top: 20px;
    position: relative;
    top: 30px;
}

h6 {
    position: relative;
    bottom: 30px;
}

#title {
    height: 150px;
}

.user {
    height: 30px;
}

div > * {
    width: 100%;
}

#card {
    width: 300px;
    border: 1px solid gray;
    padding: 20px;
}